<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>main.servlet.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVideo</servlet-name>
        <servlet-class>main.servlet.UploadVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScreens</servlet-name>
        <servlet-class>main.api.GetScreens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScreen</servlet-name>
        <servlet-class>main.api.AddScreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveScreen</servlet-name>
        <servlet-class>main.api.SaveScreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadScreen</servlet-name>
        <servlet-class>main.api.LoadScreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveScreen</servlet-name>
        <servlet-class>main.api.RemoveScreen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVideo</servlet-name>
        <url-pattern>/UploadVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScreens</servlet-name>
        <url-pattern>/getscreens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScreen</servlet-name>
        <url-pattern>/addScreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveScreen</servlet-name>
        <url-pattern>/savescreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadScreen</servlet-name>
        <url-pattern>/loadscreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveScreen</servlet-name>
        <url-pattern>/removescreen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
